@use '../../partials/functions.scss';

.table-head {
  height: 50px;

  tr {
    th {
      font-size: functions.rem(16);
      font-weight: 500;
      line-height: 0.75;
      padding: 0 15px;
      text-align: left;
      border-bottom: 1px solid var(--border-background);
      cursor: pointer;
    }
  }

  &__sort-icon {
    margin-left: 10px;
  }
}