@use '../../partials/functions.scss';

.table-rows {
  tr {
    height: 70px;

    &:not(:last-child) {
      td {
        border-bottom: 1px solid var(--system);
      }
    }

    td {
      padding: 0 15px;

      img {
        border-radius: 50%;
        object-fit: cover;
        width: 28px;
        height: 28px;
      }

      span {
        font-size: functions.rem(16);
      }
    }
  }
}