.grid-container {
  .grid {
    position: relative;

    &--loading {
      flex: 1;
    }

    &__list {
      display: grid;
      gap: 10px;

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}