.map-grid {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  max-height: calc(100vh - 70px - 60px);
  overflow-y: auto;
  padding: 60px 70px;
  background: var(--background);

  @media screen and (max-width: 768px) {
    justify-content: center;
    gap: 20px;
    min-height: calc(100vh - 70px - 114px);
    max-height: calc(100vh - 70px - 114px);
    padding: 30px 20px;
  }
}