// Mona-Sans Wide
@font-face {
  font-family: 'Mona Sans';
  src:
          url('../fonts/Mona-Sans/Mona-Sans.woff2') format('woff2 supports variations'),
          url('../fonts/Mona-Sans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

// Marianne
@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 250;
  font-display: swap;
  src: url('../fonts/Marianne/Marianne-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 250;
  font-display: swap;
  src: url('../fonts/Marianne/Marianne-ThinItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Marianne/Marianne-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Marianne/Marianne-LightItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Marianne/Marianne-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Marianne/Marianne-Regular-Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Marianne/Marianne-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Marianne/Marianne-MediumItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Marianne/Marianne-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Marianne/Marianne-BoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/Marianne/Marianne-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/Marianne/Marianne-ExtraBoldItalic.ttf') format('ttf');
}

:root {
  // global colors
  --primary: #DE7800;
  --primary-darkened: #995300;
  --background: #151619;
  --system: #22252A;
  --system-hover: #2E3138;
  --border-background: #5B606E;
  --white: #FFFFFF;
  --text-grey: #737A8C;
  --danger: #F85149;

  // borders
  --border: 1px solid var(--border-background);

  // team colors
  --blue-team: #094CF6;
  --red-team: #F61509;
  --yellow-team: #F6F609;

  // attributes colors
  --wind: #DE9B00;
  --wind-transparent: rgba(222, 155, 0, 0.2);
  --fire: #DE2500;
  --fire-transparent: rgba(222, 37, 0, 0.2);
  --water: #0081DE;
  --water-transparent: rgba(0, 129, 222, 0.2);
  --dark: #7C00DE;
  --dark-transparent: rgba(124, 0, 222, 0.2);
  --light-transparent: rgba(255, 255, 255, 0.2);
  --dark-light: linear-gradient(90deg, var(--dark) 0%, var(--white) 100%);
  --dark-light-transparent: linear-gradient(90deg, var(--dark-transparent) 0%, var(--light-transparent) 100%)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
  font-family: 'Marianne', sans-serif;
}

html {
  min-height: 100%;

  body {
    min-height: 100%;
    background-color: var(--background);

    video,
    img,
    svg,
    object {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }

    li {
      list-style: none;
      text-decoration: none;
    }

    a {
      text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Mona Sans', sans-serif;
      font-weight: 700;
      font-stretch: 125%;
    }
  }
}