@use '../partials/functions';

.actual-composition {
  min-width: 671px;
  max-width: 671px;
  padding: 20px 50px 0;
  margin: 0 70px 80px 0;
  border-left: var(--border);
  flex: 1;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1660px) {
    margin: 0 0 80px 0;
  }

  @media screen and (max-width: 1199px) {
    width: 100%;
    min-width: initial;
    max-width: initial;
    margin-right: 0;
    border-left: 0;
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    flex: initial;
    overflow: initial;
    height: fit-content;
  }

  &__form {
    .select {
      margin-bottom: 5px;
    }

    .input-string {
      width: 100%;

      &__input {
        font-size: functions.rem(32);
        font-weight: 700;
        line-height: normal;
        border: none;
        padding: 0;
        height: 44px;

        @media screen and (max-width: 768px) {
          font-size: functions.rem(24);
          height: 34px;
        }
      }
    }
  }

  &__defenses {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    flex: 1;

    @media screen and (max-width: 768px) {
      margin-top: 20px;
      flex: initial;
    }

    .input-string {
      width: 100%;

      &__input {
        width: 100%;
      }
    }

    .compositions {
      flex: 1;
      padding-bottom: 0;
      overflow-y: auto;
      max-height: calc(100vh - 70px - 160px - 20px - 34px - 5px - 44px - 30px - 34px - 30px - 34px);

      @media screen and (max-width: 768px) {
        flex: initial;
        overflow: initial;
        max-height: initial;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
  }
}