@use "../../partials/mixins";

.account-menu {
  position: relative;
  z-index: 9998;

  &__button {
    @include mixins.resetButton(none, transparent);
  }

  &__avatar {
    width: 40px !important;
    height: 40px !important;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      width: 35px;
      height: 35px;
    }
  }
}