@use '../../partials/functions';
@use '../../partials/mixins';

.notifications {
  position: absolute;
  z-index: 9998;
  top: 48px;
  right: 0;
  width: 400px;
  height: 450px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  border-radius: var(--input-text-radius);
  background: var(--system);
  box-shadow: var(--shadow);

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: var(--border);
    padding: 0 20px;
  }

  &__title {
    font-size: functions.rem(16);
    font-weight: 500;
    line-height: 0.875;
  }

  &__refresh {
    @include mixins.resetButton(0, transparent);

    &--loading {
      svg {
        animation: spin 1s linear infinite;

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;

    &--empty {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: functions.rem(20);
        line-height: normal;
        color: var(--text-grey);
        text-align: center;
        width: 200px;
      }
    }
  }
}