// Mona-Sans Wide
@font-face {
  font-family: 'Mona Sans';
  src:
    url('../../fonts/Mona-Sans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('../../fonts/Mona-Sans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

$mona-sans: 'Mona Sans', sans-serif;

// Marianne
@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 250;
  font-display: swap;
  src: url('../../fonts/Marianne/Marianne-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 250;
  font-display: swap;
  src: url('../../fonts/Marianne/Marianne-Thin_Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../fonts/Marianne/Marianne-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../../fonts/Marianne/Marianne-Light_Italic.woff') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/Marianne/Marianne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/Marianne/Marianne-Regular_Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../fonts/Marianne/Marianne-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../../fonts/Marianne/Marianne-Medium_Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/Marianne/Marianne-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/Marianne/Marianne-Bold_Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../fonts/Marianne/Marianne-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('../../fonts/Marianne/Marianne-ExtraBold_Italic.woff2') format('woff2');
}

$marianne: 'Marianne', sans-serif;

$hidden: 0;