@use "../../../partials/functions";

.input-string {
  width: 250px;

  &--text,
  &--email,
  &--password {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
  }

  &--label {
    margin-top: 21px;
  }

  &--search {
    position: relative;

    &:before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M9.89584 8.78521H9.27042L9.04875 8.57146C9.8514 7.64048 10.2925 6.45193 10.2917 5.22271C10.2917 4.20496 9.98987 3.21007 9.42444 2.36384C8.85901 1.51761 8.05534 0.858055 7.11506 0.468579C6.17478 0.0791034 5.14013 -0.0228013 4.14193 0.175752C3.14374 0.374305 2.22684 0.864398 1.50718 1.58406C0.787524 2.30371 0.297431 3.22061 0.0988781 4.21881C-0.0996751 5.217 0.00222961 6.25166 0.391706 7.19193C0.781182 8.13221 1.44074 8.93588 2.28696 9.50131C3.13319 10.0667 4.12809 10.3685 5.14584 10.3685C6.42042 10.3685 7.59209 9.90146 8.49459 9.12563L8.70834 9.34729V9.97271L12.6667 13.9231L13.8463 12.7435L9.89584 8.78521ZM5.14584 8.78521C3.17459 8.78521 1.58334 7.19396 1.58334 5.22271C1.58334 3.25146 3.17459 1.66021 5.14584 1.66021C7.11709 1.66021 8.70834 3.25146 8.70834 5.22271C8.70834 7.19396 7.11709 8.78521 5.14584 8.78521Z' fill='%235B606E'/%3E%3C/svg%3E");;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 14px;
      transform: translateY(-50%);
    }

    .input-string__input {
      position: relative;
      z-index: 1;
      padding: 10px 14px 10px 37.85px;
    }
  }

  &__label,
  &__error-text {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(calc(-100% - 4px));
    font-size: functions.rem(12);
    line-height: normal;
    margin-bottom: 4px;
  }

  &__input {
    position: relative;
    height: 34px;
    padding: 10px 14px;
    border-radius: var(--input-text-radius);
    background: var(--background);
    border: var(--border);
    font-size: functions.rem(14);
    line-height: 1;
    font-weight: 500;

    &::placeholder {
      color: var(--text-grey);
    }

    &:focus {
      outline: none;
      border: 1px solid var(--primary);
    }
  }

  &.error {
    .input-string {
      &__error-text {
        color: var(--danger);
      }

      &__input {
        border: 1px solid var(--danger);
      }
    }
  }
}