@use "../../../partials/functions";
@use "../../../partials/mixins";

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 15px;

  &__label {
    font-size: functions.rem(15);
    line-height: 0.86667;
    margin-bottom: 5px;

    & ~ .select__list {
      top: calc(22px + 34px) !important;

      @media screen and (max-width: 768px) {
        top: 50% !important;
      }
    }
  }

  &__button,
  &__option {
    height: 34px;
    padding: 10px 14px;
    font-size: functions.rem(14);
    font-weight: 500;
    line-height: 1;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mixins.resetButton(var(--border), var(--background));
    border-radius: var(--input-text-radius);
    width: 250px;
    font-weight: 500;
    line-height: 1;

    &--open {
      border-radius: var(--input-text-radius) var(--input-text-radius) 0 0 !important;

      @media screen and (max-width: 768px) {
        border-radius: var(--input-text-radius) !important;
      }

      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__list {
    display: none;
    position: absolute;
    z-index: 2;
    top: 34px;
    left: 0;
    width: 250px;
    max-height: 137px;
    border-left: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
    border-radius: 0 0 var(--input-text-radius) var(--input-text-radius);
    overflow-y: auto;

    @media screen and (max-width: 768px) {
      position: fixed;
      z-index: 9999;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      overflow-y: auto;
      width: calc(100% - 40px);
      max-height: 80vh;
      border: var(--border);
      border-radius: var(--input-text-radius);
      box-shadow: var(--shadow);
    }

    &--open {
      display: block;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    background: var(--background);
    cursor: pointer;

    @media screen and (max-width: 768px) {
      height: 60px;
      font-size: functions.rem(20);
      font-weight: 500;
      line-height: 0.95;
    }

    &:hover {
      background: var(--primary);
    }

    &--selected {
      background: var(--system);
    }
  }

  &__trigger {
    display: none;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--background-transparent);;

    @media screen and (max-width: 768px) {
      display: initial;
    }
  }
}