@use '../../partials/functions';

.badge {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 3.5px 7.5px 5.5px 7.5px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;

  &__name {
    font-size: functions.rem(12) !important;
    line-height: 0.5;
  }

  &--water {
    border: 1px solid var(--water);
    background: var(--water-transparent);

    .badge {
      &__name {
        color: var(--water);
      }

      &__cross {
        path {
          fill: var(--water);
        }
      }
    }
  }

  &--fire {
    border: 1px solid var(--fire);
    background: var(--fire-transparent);

    .badge {
      &__name {
        color: var(--fire);
      }

      &__cross {
        path {
          fill: var(--fire);
        }
      }
    }
  }

  &--wind {
    border: 1px solid var(--wind);
    background: var(--wind-transparent);

    .badge {
      &__name {
        color: var(--wind);
      }

      &__cross {
        path {
          fill: var(--wind);
        }
      }
    }
  }

  &--dark {
    border: 1px solid var(--dark);
    background: var(--dark-transparent);

    .badge {
      &__name {
        color: var(--dark);
      }

      &__cross {
        path {
          fill: var(--dark);
        }
      }
    }
  }

  &--light {
    border: 1px solid var(--white);
    background: var(--light-transparent);

    .badge {
      &__name {
        color: var(--white);
      }

      &__cross {
        path {
          fill: var(--white);
        }
      }
    }
  }

  &--dark-light {
    background: var(--dark-light);
    border-radius: 15px;
    padding: 1px;

    .badge {
      &__wrapper {
        display: flex;
        border-radius: 15px;
        background: var(--background);
      }

      &__container {
        display: flex;
        border-radius: 15px;
        background: var(--dark-light-transparent);
        padding: calc(3.5px - 1.25px) 7.5px calc(5.5px - 1.25px) 7.5px;
      }

      &__name {
        background: var(--dark-light);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: normal;
        margin: -4.25px 0;
      }
    }
  }

  &--deletable {
    padding: 3.5px 19.5px 5.5px 7.5px;

    .badge {
      &__cross {
        position: absolute;
        top: 50%;
        right: 7.5px;
        transform: translateY(-50%);
      }
    }
  }
}