@use '../../partials/functions';

.compositions {
  position: relative;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 15px 30px;
  padding-bottom: 70px;

  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 0;
  }

  .defense {
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &__member {
      font-size: functions.rem(18);
    }

    &__monsters {
      @media screen and (max-width: 768px) {
        gap: 10px
      }

      & > li {
        @media screen and (max-width: 768px) {
          width: calc(100% / 3);
        }
      }
    }

    &__image {
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}