@use '../../partials/functions';

.defense {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;

  &__add,
  &__remove {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(21, 22, 25, 0.70);
  }

  &__member {
    font-size: functions.rem(20);
    line-height: normal;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__monsters {
    display: flex;
    gap: 15px;
  }

  &__image {
    border-radius: var(--input-text-radius);
    overflow: hidden;
  }
}