@use '../../partials/mixins';

.display-modes {
  display: flex;
  gap: 10px;

  &__mode {
    @include mixins.resetButton(var(--border), var(--background));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: var(--input-text-radius);

    &--selected {
      path {
        fill: var(--primary);
      }
    }
  }
}