.grade {
  &--leader {
    path {
      fill: var(--primary);
    }
  }

  &--vice-leader {
    path {
      fill: var(--text-grey);
    }
  }

  &--senior {
    path {
      fill: var(--primary-darkened);
    }
  }
}