@use '../../partials/functions';

.map-card {
  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--system);
    border-radius: var(--input-text-radius);
    padding: 20px;
    width: 240px;
    height: fit-content;
  }

  &--tower {
    gap: 10px;

    .map-card__box {
      gap: 15px;
    }
  }

  &__position {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
    background: var(--primary);
    border-radius: 50%;
    box-shadow: var(--shadow);
    width: 30px;
    height: 30px;
    padding-top: 4px;
    font-size: functions.rem(20);
    font-weight: 700;
    line-height: 0.9;
    text-align: center;
  }

  &__member {
    font-size: functions.rem(20);
    line-height: normal;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__assigned-defenses {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .defense {
    &__member {
      line-height: 1.2;
    }

    &__monsters {
      gap: 10px !important;
    }

    &__image {
      border-radius: 4px !important;
    }
  }
}