.tooltip {
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translate(-50%, -100%);
  background: var(--system);
  border-radius: var(--input-text-radius);
  padding: 10px;
  box-shadow: var(--shadow);

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--system);
  }

  &__image {
    min-width: 30px;
    min-height: 30px;
  }
}