.defenses {
  position: relative;
  display: flex;
  width: 100%;
  min-height: calc(100vh - 70px);
  height: 100%;
  padding: 80px 70px;

  @media screen and (max-width: 768px) {
    min-height: calc(100vh - 114px);
    padding: 30px 20px;
  }

  &__add-composition {
    position: fixed;
    right: 70px;
    bottom: 80px;
    background: var(--primary);
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: var(--input-text-radius);

    &:hover {
      background: var(--primary-darkened);
    }

    @media screen and (max-width: 768px) {
      right: 20px;
    }
  }
}