.guild {
  position: relative;
  display: flex;
  gap: 70px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  max-height: calc(100vh - 70px);
  overflow: auto;
  padding: 80px 70px;

  @media screen and (max-width: 1399px) {
    gap: 50px;
  }

  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
}