@use '../partials/functions.scss';

.guild {
  position: relative;
  display: flex;
  gap: 70px;
  width: 100%;
  min-height: calc(100vh - 70px);
  height: 100%;
  max-height: calc(100vh - 70px);
  overflow: auto;
  padding: 80px 70px;

  @media screen and (max-width: 1399px) {
    gap: 50px;
  }

  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    min-height: calc(100vh - 114px);
    max-height: calc(100vh - 114px);
    gap: 40px;
    padding: 30px 20px;
  }

  .table {
    .table-grid {
      &__picture {
        width: 70px;
      }

      &__pseudo {
        width: 130px;
      }

      &__grade {
        width: 160px;

        &-name {
          display: flex;
          align-items: center;
          gap: 10px;
          text-transform: capitalize;
        }
      }

      &__role {
        width: 180px;
        text-transform: capitalize;
      }

      &__lds {
        padding: 27.5px 15px;

        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }
      }
    }
  }

  .grid {
    .table-grid {
      &__picture {
        min-width: 60px;
        width: 60px;
        min-height: 60px;
        height: 60px;
        margin-bottom: 5px;
      }

      &__pseudo {
        font-size: functions.rem(16);
        font-weight: 700;
        line-height: 0.875;
      }

      &__grade {
        &-name {
          margin-top: 5px;
          display: flex;
          align-items: center;
          gap: 6px;
          text-transform: capitalize;
          font-size: functions.rem(14);
          line-height: 1.28571;

          .grade {
            width: 16px;
            height: 11px;
          }
        }
      }

      &__role {
          margin-top: 5px;
          text-transform: capitalize;
          font-size: functions.rem(14);
          line-height: 1.28571;
      }

      &__lds {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
      }
    }
  }
}