.map {
  width: 100%;
  min-height: calc(100vh - 70px);
  height: 100%;
  max-height: calc(100vh - 70px);

  @media screen and (max-width: 768px) {
    min-height: calc(100vh - 114px);
    max-height: calc(100vh - 114px);
  }
}